{% include 'header.html' %}
<!-- component -->
<div class="relative flex h-full w-full">
    <div class="h-screen w-1/2 bg-black">
      <div class="mx-auto flex h-full w-2/3 flex-col justify-center text-white xl:w-1/2">
        <div>
          <p class="text-2xl">Sign Up|</p>
          <p>please create account to user our services|</p>
        </div>
        <div class="my-6">
          <button class="flex w-full justify-center rounded-3xl border-none bg-white p-1 text-black hover:bg-gray-200 sm:p-2"><img src="https://freesvg.org/img/1534129544.png" class="mr-2 w-6 object-fill" />Sign up with Google</button>
        </div>
        <div>
          <fieldset class="border-t border-solid border-gray-600">
            <legend class="mx-auto px-2 text-center text-sm">Or Sign up via our secure system</legend>
          </fieldset>
        </div>
        <div class="mt-10">
          <form>
            <div>
              <label class="mb-2.5 block font-extrabold" for="email">Email</label>
              <input type="email" id="email" class="inline-block w-full rounded-full bg-white p-2.5 leading-none text-black placeholder-indigo-900 shadow placeholder:opacity-30" placeholder="Enter email id" />
            </div>
            <div class="mt-4">
              <label class="mb-2.5 block font-extrabold" for="email">Password</label>
              <input type="password" id="email" class="inline-block w-full rounded-full bg-white p-2.5 leading-none text-black placeholder-indigo-900 shadow" placeholder="Enter pasword"/>
            </div>

            <div class="mt-4">
                <label class="mb-2.5 block font-extrabold" for="email">Re-Type Password</label>
                <input type="password" id="email" class="inline-block w-full rounded-full bg-white p-2.5 leading-none text-black placeholder-indigo-900 shadow" placeholder="Enter pasword again"/>
              </div>
            
            <div class="my-10">
              <button class="w-full rounded-full bg-blue-600 p-5 hover:bg-orange-800">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="h-screen w-1/2 bg-blue-600">
      <img src="https://media.istockphoto.com/id/511478790/vector/abstract-health-care-button-on-innovation-concept-design-background.jpg?s=612x612&w=0&k=20&c=C7tF5Jhmx_Wf3HyZ9uIV1nRLLqObIU_Sq9XrolICCTE=" class="h-full w-full" />
    </div>
  </div>


{% include 'footer.html' %}
